<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <!-- <li>
          <a href=<%=nav[0].link%> > <%=nav[0].name%> </a>
        </li> -->
        <% for(i=0;i<nav.length;i++){ %>
          <li>
            <a href=<%=nav[i].link%> > <%=nav[i].name%> </a>
          </li>
          
        <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          
          <div class="row">    
            <form action="/admin/addBook" method="post" onsubmit="func();">
                <div class="col-md-6">
                  <label for="title">Title :</label>
                  <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="author">Author :</label>
                <input type="text" name="author" id="author" class="form-control">
                </div>
                
                <div class="col-md-6">
                  <label for="genre">Genre :</label>
                  <input type="text" name="genre" id="genre" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="image">Image :</label>
                  <input type="file" name="img" id="img" class="form-control">
                </div>

                <div class="col-md-12 w-100">
                  <button type="submit" class="btn btn-primary mt-2 w-100" style="width: 100%;margin-top: 20px;">Submit</button>
                </div>
                
            </form>
          </div>
          <hr>
          
          <!--/stories-->
          <h1 class="display-4 text-center">Details of all Books</h1>
          <div class="col-md-12">
            <br>
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Genre</th>
                  <th scope="col">Image</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <%for(i=0;i<book.length;i++){ %>
                <tr>
                  
                  <th scope="row"><%=i+1%></th>
                  <td name="bookName"><%=book[i].name%></td>
                  <td name="bookAuthor"><%=book[i].author%></td>
                  <td name="bookGenre"><%=book[i].genre%></td>
                  <td name="bookImg"><%=book[i].img%></td>
                  <td>
                    <form action="/admin/addBook/update/<%=book[i]._id%>" method="get" style="margin:0px 0px 5px 0px ;">
                       <button type="submit" class="btn btn-success " >update</button>
                    </form>
                    <form action="/admin/addBook/delete/<%=book[i]._id%>" method="post">
                      <button type="submit" class="btn btn-danger" onclick="del()">Delete</button>
                    </form> 
                  </td>
                </tr>
                <%}%>
                
              </tbody>
            </table>
          </div>
          
          <!-- <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a> -->
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
    
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    <script>
      function func()
      {
        var name = document.getElementById('name').value;
        var author = document.getElementById('author').value;
        var genre = document.getElementById('genre').value;
        var img = document.getElementById('img').value;

        // console.log(name,author,genre,img);
        
        if(name===""||author===""||genre===""||img===""){
          alert('fill all the fields');
          event.preventDefault();
          
        }else{
          alert('The data are successfully saved to database');
        }

        
      }


      function del(){
        
        function conf(){
          return confirm("This data will be errased");
        }
        if(!conf()){
          event.preventDefault();
        }
        
        
      }
    </script>
	</body>
</html>